<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-2">
        <span *ngIf="!uploadedPicture"><i class="fa fa-user" style="font-size:200px"></i></span>
        <span *ngIf="uploadedPicture"><img [src]="url" width="150px" height="200px"/></span>
    </div>
    <div class="col-md-4"><br><br>
        <p style="font-size:xx-large" *ngIf="!editing">{{dbuser.Name}}</p>  
        <div *ngIf="editing">
            <form [formGroup]="profileForm">
                <label for="avatar">Avatar</label>
                <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput/>
                <div class="form-group">
                  <label class="center-block">First Name:
                    <input class="form-control" formControlName="firstName">
                  </label>
                  <label class="center-block">Last Name:
                      <input class="form-control" formControlName="lastName">
                    </label>
                </div>
              </form>
        </div>
        <button *ngIf="!editing" class="btn btn-primary" (click)="EditProfile()">Edit</button>
        <button *ngIf="editing" class="btn btn-primary" (click)="SaveProfile()" [disabled]="!profileForm.valid">Save</button>
        <button *ngIf="editing" class="btn btn-primary" (click)="CancelProfile()">Cancel</button>
    </div>
  </div>
</div>
<hr>
<div class="container">
    <h2>The books you have currently issued</h2>
</div>      
<!-- <div class="container"> 
    <table class="table table-striped">
        <thead>
          <td>Index</td>
          <td>Title</td>
          <td>IssuedOn</td>
          <td>Due On</td>
          <td>Return Book</td>
          <td>Renew Book</td>
        </thead>
        <tr *ngFor = "let book of issuedBooks;let index=index;">
          <td>{{index+1}}</td>
          <td>{{book.title}}</td>
          <td>{{dbuser.user.issuedBooks[index].issuedOn | date}}</td>
          <td>{{dbuser.user.issuedBooks[index].dueOn | date}}</td>
          <td><button class="btn btn-primary" (click)="ReturnBook(index)">Return</button></td>
          <td><button class="btn btn-primary" (click)="RenewBook(index)">Renew</button></td>
        </tr>
    </table>
</div> -->
