<app-header></app-header>
<div class="row" style="margin-top: 30px;">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div class="container">
        <form class="form-horizontal" role="form" (ngSubmit)="onSignup(f)" #f="ngForm">
            <h2>User Registration</h2>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-9">
                    <input type="text" id="firstName" placeholder="First Name" name="firstName" ngModel class="form-control" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-9">
                    <input type="text" id="lastName" placeholder="Last Name" name="lastName" ngModel class="form-control" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email* </label>
                <div class="col-sm-9">
                    <input type="email" id="email" placeholder="Email" name="email" ngModel class="form-control" name= "email">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password*</label>
                <div class="col-sm-9">
                    <input type="password" id="password" placeholder="Password" name="password" ngModel class="form-control" aria-describedby="passwordHelpBlock">
                    <small id="passwordHelpBlock" class="form-text text-muted mb-4">
                      At least 8 characters and 1 digit
                    </small>
                  </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password*</label>
                <div class="col-sm-9">
                    <input type="password" id="confirmPassword" placeholder="Password" name="password" ngModel class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="birthDate" class="col-sm-3 control-label">Date of Birth*</label>
                <div class="col-sm-9">
                    <input type="date" id="birthDate" name="dateOfBirth" ngModel class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>
                <div class="col-sm-9">
                    <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" name="phoneNumber" ngModel class="form-control">
                </div>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <textarea class="form-control" rows="5" id="address" name="address" ngModel ></textarea>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Gender</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" id="Female" value="F" [(ngModel)]="gender" name="Sex">Female</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" id="Male" value="M" [(ngModel)]="gender" name="Sex">Male</label>
                        </div>
                    </div>
                </div>
            </div> <!-- /.form-group -->
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <span class="help-block">*Required fields</span>
                </div>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Register</button>
            
        </form> <!-- /form -->
    </div> <!-- ./container -->
    </div>
  </div>
  
  